<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{@index}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>
                {{#if done}}
                    <a href="/toogleDone/{{_id}}">Undone</a>
                {{else}}
                    <a href="/toogleDone/{{_id}}">Done</a>
                {{/if}}
                <a href="/delete/{{_id}}">Delete</a>
                <a href="/edit/{{_id}}">Update</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>